@charset "utf-8";

@import url('../../../css2');
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}
.form-control{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width:100%;
}
h1, h2, h3, h4, h5, h6{
	/* font-family:font-family: 'Quicksand', sans-serif; */
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 50px;
	line-height: 51px;
}
header{
	position:absolute;
	min-height:80px;
	z-index: 3;
	left: 0;
	right: 0;
    top:0;
}
.offfer-top-sec{
	background-color: #d00035;
	color: #fff;
	width: 100%;
	display: grid;
	align-content: center;
	position: relative;
	
	
}
.top-close{
	position: absolute;
    right: 11px;
    top: 12px;
    color: #fff;
}
.top-head{
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:3;
	background:#212529;
}
.line-bg{
	position: relative;
    top: 17px;
	filter: drop-shadow(0px 3px 1px rgba(0,0,0,3%));
}
.line-bg img{
	width: 100%;
    
}
.comon-cart-ps{
	padding: 15px 19px 14px;
    margin: 0;
    border-bottom: solid 1px #ebebeb;
    width: 100%;
    display: inline-block;
}
.close-crt i{
    color: #000 !important;
}
.img-sec-div-mn{
    height: 210px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    position: relative;
}
.img-sec-div-mn .pro-img{
    height: 250px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}
.img-sec-div-mn .pro-img figure{
    height: 250px;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
.img-sec-div-mn .pro-img figure img{
    object-fit: inherit;
    width: 58%;
    height: auto;
    margin: auto;
    display: table;
}
.img-sec-div-mn .close-bn-ps{
    position: absolute;
    left: 0;
    top:0;
}
.cat-count{
	position: absolute;
	bottom:2px;
	display: grid;
	width: 20px;
    height: 20px;
    background: #d00035;
    color: #fff;
    font-size: 12px;
    align-content: center;
    border-radius: 50%;
    overflow: hidden;
    left: 20px;
    font-weight: 700;
	text-align: center;
	pointer-events: none;
}
.cart-bn{
	background:#c8693a;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	display: grid;
	align-content: center;
	color: #fff;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top:150%;
	transition: all 0.5s;
	font-size: 22px;
}
.cart-dropdown-ne{
	width: 310px;
	right: 0;
	left: inherit !important;
	border: none;
	visibility: hidden;
    transition: all 0.5s;
	top:120%;
	display: block !important;
}
.cart-dropdown-ne.show{
	visibility: visible;
	top:100%;
	transition: 0.5s;
	top:100%;
}
.sub-total-products{
	padding:10px 15px;
}
.sub-total-products h4{
    color: #d00035;
	font-weight: 600;	
}

.titel-crt-products{
	color: #212529;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
}
.cart-ps-details h6{
    color: #d00035;
	font-weight:700;
	margin-top: 5px;	
}
.close-crt{
	color:#212529;
}
.products-sm-pic figure{
	height: 60px;
	width: 60px;
	overflow: hidden;
	margin: 0;
}
.products-sm-pic figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.navbar-brand img{
	position:relative;
	z-index:2;
}

.navbar{
	padding-bottom: 0;
    
    border-radius: 8px;
    padding: 15px;
}
.mn-head .nav-link{
    font-weight: 500;
	color:#fff !important;
	margin: 0 10px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
	transition: all 0.5s;
	border-bottom: solid 2px transparent;
	text-transform: uppercase;
	font-size: 14px;

}
.mn-head .nav-item{
	position: relative;
}
.mn-head .nav-item:after{
	position: absolute;
	content: "\f111";
	font-family: 'FontAwesome';
	top: 17px;
    right: -3px;
    color: #999;
    font-size: 4px;
	display: none;
}
.mn-head li:last-child::after{
	display: none;
}
.dropdown-menu1 {
    width: 90%;
    top: 100%;
    border: none;
    left: 9%;
    background: rgba(0,0,0, 88%);
	padding: 20px 0;
	display: block;
	transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
}
.dropdown-menu1 .comon-menu-div h5{
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}
.dropdown-menu1 .comon-menu-div hr{
	background-color: #bbb;
	margin: 0 0 5px 0;
}
.dropdown-menu1 .comon-menu-div ul li{
	margin-bottom: 10px;
}
.dropdown-menu1 .comon-menu-div ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	transition: all 0.5s;
	text-transform: capitalize;
}
.dropdown-menu1 .comon-menu-div ul li a:hover{
	color: #d00035;
}
.com-link{
	color:#fff !important;
	font-size: 21px !important;
	text-transform: capitalize;
}

.com-link:nth-child(2){
	font-size: 28px;
}
.com-link:nth-child(3){
   padding: 0;
}
.com-link > svg{
	color:#fff !important;
	font-size: 18px !important;
}
.mn-head  .navbar-nav .active{
	color: #ef003d !important;
   
}
.mn-head .nav-link:hover{
	color: #ef003d !important;
}
.navbar-nav .dropdown-item{
	font-size: 14px;
}
.navbar-nav .dropdown-item:hover{
	color: #fff !important;
    background: #043a64;

}
.top-head .nav-link{
	color:#212529 !important;
	font-size:16px;
	transition:all 0.5s;
	padding-left:15px !important;
	padding-right:15px !important;
	font-weight:600;
	
}
.fixed-menu .nav-link{
	color: #000 !important;
}
.sc-logo{
	display: none;
}
.fixed-menu .ds-logo{
	display: none !important;
}
.fixed-menu .sc-logo{
	display: block;
}
.fixed-menu  .navbar-nav .active{
	color: #d00035 !important;
	background: none;
	font-weight: 600;
}
.fixed-menu .com-link{
	color: #000 !important;
}
.fixed-menu .com-link:nth-child(3){
}
.right-menu li a{
	margin: 0 10px;
	padding: 0;
	color:#fff !important;
}


.cart-new-icon:after{
	display: none;
}
.cart-new-icon:focus{
	box-shadow: none;
}
.cart-new-icon {
	font-size: 25px;
	padding-top: 0;
	padding-bottom: 0;

}




.banner-part{
	width:100%;
	position: relative;
	top:0;
	height:640px;
	padding-top:0;
	display: grid;
	align-content: center;
	overflow: hidden;
	background: url(../images/myassets/hero5.jpg )  no-repeat ;
	background-size: cover;

}
.spring-animation{
	width: 60%;
	margin-left: auto;
}

.banner-div-content{
	animation: fadeInleft 0.5s ease-in-out;
	position: relative;
    z-index: 2;
	text-align: left;
	}
.banner-div-content h6{
	font-weight: 400;
    font-size:35px;
	font-family: 'Lobster Two', cursive;
	color: #c8693a;
	}
.banner-div-content h1{

    font-weight: 700;
    font-size:65px;
	font-family: 'Lobster Two', cursive;
	
	 color: #fff;
	 text-transform: capitalize;
}
.consult-bn,
.about-bn,
.view-more,
.submit-bn,
.subcribe,
.view-products,
.ad-cart-bn,
.sub-re,
.edit-bn1,
.checkout-bn,
.form-wizard-next-btn,
.form-wizard-previous-btn,
.form-wizard-submit,
.cart-drop-bn,
.cp-bn,
.expl-bn{
	background: #d00035;
	color: #fff !important;
	display: inline-block;
	margin: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 16px;
	margin-right: 8px;
	padding: 10px 20px;
	transition: all 0.5s;
	text-decoration: none;
	cursor: pointer;
	
	
}

.dropdown:hover>.dropdown-menu1{
	display:block;top:100%;
	height:inherit;
	transform:skewY(-10px);
	visibility: visible;
	opacity:inherit;
	top:75%;
	transition:top 0.8s ease;}

.dropdown-mega .dropdown-toggle::after{
	content: "\f309";
    font-family: 'FontAwesome';
    top: 13px;
    right: -9px;
    color: #999;
    font-size: 11px;
    border: none;
    position: absolute;
}
.mega-menu-a{
	position: relative;
}
.dropdown-mega::after{
	display: none;
}
.cart-ps-details a{
	margin: 0 !important;
}
.sub-total-products {
    padding: 10px 15px;
}
.sub-total-products h4 {
    color: #d00035;
    font-weight: 600;
    font-size: 18px;
}
.products-sm-pic{
	margin: 0 !important;
}
.cart-drop-bn {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    display: table;
}
.check-drop-bn {
    background: #0d0d0e;
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    display: table;
    color: #fff ;
    margin-top: 10px !important;
	font-size: 14px;
	padding:8px 15px !important;
}
.cart-ps-details .titel-crt-products{
	color: #000 !important;
}
.big-img{
	overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left: -40px;
    bottom: -40px;
}
.big-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.home-about h6{
	color: #d00035;
    font-weight: 600;
}
.Prodcuts-div{
	background:#0f0b0a url(../images/myassets/icecube1.jpg) no-repeat;
	position: relative;
	display: inline-block;
    background-size: cover;
    background-position: center;
	width: 100%;
    
}
.top-offer-div-sec{
	background:#0f0b0a
}
.comon-heading{
	position: relative;
}
.comon-heading:after{
	position: absolute;
    bottom: -35px;
    content: "-------";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    left: 0;
    right: 0;
	font-family: 'Open Sans', sans-serif;
	color: #ff0000!important;
}


.home-about{
	background-image: url(../images/about.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
	z-index: 2;
    bottom: -5px;
}
.Prodcuts-div h6{
	color: #d00035;
	font-family: 'Lobster Two', cursive;
	font-size:25px;
}
.produc-div {
	
	padding: 10px;
	display: inline-block;
	height: 400px;
	overflow: hidden;
	/* background: #282828; */
	width: 100%;
}
.products-box{
	height: 290px;
	overflow: hidden;
	display: grid;
	align-content: center;
	position: relative;
}
.products-box figure{
	height: 290px;
	overflow: hidden;
}
.products-box figure img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.hover-show-bn {
    position: absolute;
    background: rgba(0,0,0,55%);
    height: 290px;
    width: 100%;
    text-align: right;
    display: flex;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
	top:-290px;
	transition: all 0.5s;
}

.hover-show-bn a{
	display: block;
	background: #fff;
	color: #d00035;
	margin: 0 6px;
    padding: 10px 14px;
    font-size: 20px;
}
.produc-div:hover .hover-show-bn{
	top:0;

}
.cate-text{
	color: #d00035;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
}
.products-titel{
	color: #000000;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	width: 90%;
    font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	transition: all 0.5s;
	font-family: 'Quicksand', sans-serif;
}
.products-titel:hover{
	color: #d00035;
}
.price-text{
	color: #000000;
	font-weight: 900;
	font-size: 20px;

}
.old-pice{
	font-size: 18px;
	color: rgb(77, 77, 77);
	font-weight: 600;
}
.icon-sp{
	width:70px;
	height: 70px;
	display: grid;
	justify-content: center;
	align-content: center;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 1px 22px 0 rgb(0 0 0 / 12%);
	padding: 11px;
}
.icon-sp img{
	margin: auto;
    width: 87%;
	transform: scale(1);
	transition: all 0.5s;
}
.middle-big-pic{
	width: 95%;
	margin: auto;
	height: 540px;
    overflow: hidden;
}
.middle-big-pic img{
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.comon-special h5{
	font-family: sans-serif;
	font-size: 26px;
	font-weight: 700;
	transition: all 0.5s;
}
.comon-special:hover h5{
	color: #d00035;
}
.comon-special:hover .icon-sp img{
	transform: scale(1.1);
}
.choose-bread h6,
.our-production-div h6,
.testimonal-sec h6 {
	color: #d00035;
   font-family: sans-serif;
    font-size: 25px;
}
.choose-bread{
	background-image: url(../src/images/);
    background-position:left bottom;
    background-repeat: repeat-x;
    background-size: auto;
	z-index: 2;
    bottom: -5px;
	position: relative;
}
.offer-div-sec{
	background: url(../src/images/wine-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	
}
.comon-our-text figure {
    width: 79px;
    display:grid;
	align-content: center;
    margin: auto;
    margin-bottom: 10px;
	background: #fff;
	height:79px;
	border-radius: 50%;
	overflow: hidden;
	padding: 11px;
}
.comon-our-text figure img{
	width: 87%;
	margin: auto;
	text-align: center;
	display: block;
}
.comon-our-text h5{
	position: relative;
}

.comon-our-text h5:after {
    position: absolute;
    bottom: -20px;
    content: "-------";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.comon-our-text p{
	margin-top: 39px;
	font-size: 15px;
}
.our-production-div h2{
	position: relative;
}
.our-production-div h2:after {
    position: absolute;
    bottom: -35px;
    content: "-------";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.our-production-div .produc-div{
   border:none;
   /* box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
   background: #fff; */
}
.our-production-div .products-titel,
.our-production-div .price-text{
  color: #fff;
}
.our-production-div .products-titel{
	font-weight: 600;
	margin-top: 6px !important;
}
.first-order-div{
	background: url(../images/mt-1596_home_slide-01.jpg) center center no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 80px 0;
}
.shop-bn-offer{
	background: #fff;
	color: #000;
	display: table;
	margin: auto;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
	margin-top:30px !important;
}
.first-order-div p{
	font-size: 18px;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	margin-top: 20px !important;
}
.testimonal-sec,
.rl-div{
	overflow: hidden;
	background:#f5f5f5 url(../images/bottlebg2.jpg);
	padding-bottom: 175px;
	background-position: center center;
	background-repeat: no-repeat;

}
.rl-div h2{
	font-size: 35px;
}
.rl-div .ps-details .products-titel,
.rl-div .ps-details .price-text{
	color: #000;

}
.mian-img-show{
	overflow: hidden;
	width: 50%;
	height: 450px;
	margin: auto;
}
.tesimonial-sec-div{
	position: absolute;
    top: 0;
    right: -220px;
}
.fixed-menu {
    background: #fff;
    position: fixed;
    top: 0;
    animation: slide-down 0.7s;
    left: 0;
    right: 0;
    box-shadow: 4px -86px 103px rgb(0 0 0 / 90%);
    z-index: 250;
}
.sc-logo{
	display: none;
}
.fixed-menu .mn-logo{
   display: none;
}
.fixed-menu .sc-logo{
	display: block;
}
.fixed-menu .com-link{
	color: #000 !important;
}
@keyframes slide-down {
	0% {
		transform: translateY(-100%);
	} 
	100% {
		transform: translateY(0);
	} 
}

@keyframes slide {
  0% {
	  opacity: 0;
	  transform: translateY(50%);
  } 
  100% {
	  opacity: 1;
	  transform: translateY(0);
  } 
}
.silder-div-text .item{
	box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
	display: inline-block;
	padding: 15px;
	margin: 20px 0;
	background: #fff;
	border-radius: 8px;
}
#best-sl-m{
	position: relative;
	z-index: 2;
}
.silder-div-text .item h5{
	font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}
.silder-div-text .item h4{
	font-size: 17px;
}
.silder-div-text .item h4 span{
	color: #d00035;
	padding-top: 5px;
}
.comon-div-ts .start{
	color: #d00035;
}
.news-sec-div{
	position: relative;
	width: 100%;
	padding-bottom: 175px;
	padding-top: 50px;
}
.comon-news-part{
	background: #fff;
	box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
	height: 530px;
	overflow: hidden;
}
.dtails-idv-text{
	padding: 10px 20px;
}
.comon-pic-news{
	height: 260px;
	overflow: hidden;
	position: relative;
}
.comon-pic-news figure{
	height: 260px;
}
.comon-pic-news figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.date-text{
	background: #2F3336;
	padding: 10px 20px;
	color: #fff;
	position: absolute;
	display:grid;
	align-content: center;
	left: 10px;
	top:10px;
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 25px;
}
.date-text span{
	font-weight: 400;
	font-size: 17px;
}
.dtails-idv-text ul li a{
	text-decoration: none;
	color: #2F3336;
	display: flex;
	align-items: center;
}
.dtails-idv-text ul li{
	margin-right:12px;
}
.dtails-idv-text ul li i{
	color: #d00035;
	font-size: 14px;
	margin-right: 8px;
}
.dtails-idv-text h5{
	font-family: 'Quicksand', sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	font-weight: 700;
}
.read-more-bn{
	background: #d00035;
	color: #fff;
}
.subsribe-div{
}
.subsribe-div .form-control{
	border: none;
}
.subscribe-bn{
	background: #d00035;
	color: #fff;
	padding: 10px;
	width: 100%;
	border-radius: 0;
}
footer{

	position: relative;
	background: #0f0b0a;
}
footer hr{
	background-color: #bfbfbf;
}
footer::before{
	position: absolute;
    background: url(../images/header-shape-1-1.png) no-repeat;
    top: -150px;
    left: 0;
    right: 0;
    width: 100%;
    content: "";
    height: 261px;
}
.copy-text{
	background: #363636;
    display: inline-block;
    width: 100%;
	padding:8px 0;
    bottom: -9px;
    position: relative;
}
.pro-sec .products-cate {
    color: #d00035!important;
    
}
footer .socal li a{
    margin: 0 5px;
}
.comon-footer h5{
	color: #d00035;
    font-family: 'Open Sans', sans-serif;
}
.comon-footer ul li{
	margin-bottom: 5px;
}
.comon-footer ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.comon-footer ul li a:hover{
	color: #d00035 !important;
}

.comon-special{
	margin-bottom: 8px;
}
/* new css end */


/* only banner */
.css-slider-wrapper {
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  }
  
  /* Slider */
  .slider {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	-webkit-transition: -webkit-transform 1600ms;
	transition: -webkit-transform 1600ms, transform 1600ms;
	-webkit-transform: scale(1);
	transform: scale(1);
	background-size: cover;
  }
  
  /* Slides Background Color */
  .slide-1 {
	left: 0;
  }
  .slide-2 {
	left: 100%;
	
  }
  .slide-3 {
	left: 200%;
	

  }
  .slide-4 {
	background: #b1a494;
	left: 300%;
  }
  .slider {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
  }
  .slider-content {
	width: 100%;
	margin-right: auto;
  }
  
  /* Slider Inner Slide Effect */
  .slider h2 {
	
	font-weight: 900;
	text-transform: capitalize;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 65px;
	font-weight:900;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	margin-top: 0;
	color: #ef003d;
	
  }
  .slider h2 span{
	color: #fff;
  }
  
  .slider h4 {
	font-size: 32px;
	
	color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;

	text-transform:capitalize;
	line-height: 1.2;
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
  }
  .slider-content p{
	  color: #fff;
	  /* font-family: 'Quicksand', sans-serif; */
	  position: relative;
	  z-index: 2;
	  opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .slider button{
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
  }
  
  .slider > .img-div {
	position:relative;
	margin: auto;
	
  }
  
  .items-pic10{
	position: absolute;
	right: 15px;
	bottom: 50px;
	
	opacity: 0;
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
  }

  
  .buy-now-btn {

background: #fcfcfc;
background: -moz-linear-gradient(top, #fcfcfc 0%, #e5e5e5 100%);
background: -webkit-linear-gradient(top, #fcfcfc 0%,#e5e5e5 100%);
background: linear-gradient(to bottom, #fcfcfc 0%,#e5e5e5 100%);

	color: #2c2b30;
	width: 190px;
	height: 50px;
	border-radius: 30px;
	border: none;
	font-family:'Quicksand', sans-serif;
	font-size: 20px;
	font-weight:600;
	
	text-align: left;
	padding-left: 35px;
	position: relative;
	cursor: pointer;
	
	box-shadow: 0px 21px 10px -10px rgb(0 0 0 / 31%);
	cursor: pointer;
	transition: all ease-in-out 300ms;
  }
  
  .buy-now-btn:hover {
	
	box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px) scale(1.1);
  }
  
  /* .buy-now-btn:after {
	content: "Buy Now";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 35px;
	top: 18px;
  } */
  
  .slider .buy-now-btn:focus,
  .navigation .login-btn:focus {
	outline: none;
  }
  
  /* Animations */
  .slider h2 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1s; /* Safari */
	transition-delay: 1s;
  }
  .slider button{
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1s; /* Safari */
	transition-delay: 1s;
  }
  .slider h4 {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1.4s; /* Safari */
	transition-delay: 1.4s;
  }
  .slider p {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 800ms;
	-webkit-transition-delay: 1.4s; /* Safari */
	transition-delay: 1.4s;
  }


  .slide-1 > .slide-up {
	-webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
	animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
  
  @-webkit-keyframes slide-up {
	0% {
	  transform: translateY(-1000px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  @keyframes slide-up {
	0% {
	  transform: translateY(-1000px);
	}
	100% {
	  transform: translateY(0);
	}
  }
  

  .items-pic10{
	-webkit-transition: opacity 500ms, -webkit-transform 500ms;
	transition: transform 500ms, opacity 500ms;
	-webkit-transition-delay: 1.5s; /* Safari */
	transition-delay: 1.5s;
  }
  
  /* Number Pagination */
  .number-pagination {
	position: absolute;
	bottom: 30px;
	right: 100px;
	font-family: "Oswald";
	font-weight: bold;
  }
  
  .number-pagination span {
	font-size: 30px;
	color: #ea2e49;
	letter-spacing: 4px;
  }
  
  .number-pagination span:after {
	content: "/4";
	font-size: 16px;
	color: #fff;
  }
  
  /* Slider Pagger */
  .slider-pagination {
	position: absolute;
    width: 100%;
    right: 0;
    bottom: 30px;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: center;
    z-index: 1;
  }
  .slider-pagination label {
	width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #d00035;
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
	opacity: 0.7;
  }
  .slider-pagination label figure{
	  margin-bottom: 0;
  }
  .slider-pagination label figure img{
	  object-fit: cover;
	  width: 100%;
	  height: 100%;
  }
  
  /* Slider Pagger Event */
  .slide-radio1:checked ~ .slider-pagination .page1,
  .slide-radio2:checked ~ .slider-pagination .page2,
  .slide-radio3:checked ~ .slider-pagination .page3,
  .slide-radio4:checked ~ .slider-pagination .page4 {
	width:20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
   
    margin: 0 10px;
    cursor: pointer;
    overflow: hidden;
	opacity: 0.9;
  }
  
  /* Slider Slide Effect */
  .slide-radio1:checked ~ .slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
  }
  .slide-radio2:checked ~ .slider {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
  }
  .slide-radio3:checked ~ .slider {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
  }
  .slide-radio4:checked ~ .slider {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
  }
  .slider h4{
	font-family: 'Lobster Two', cursive;
  }
 
  
  .slide-radio1:checked ~ .slide-1 h2,
  .slide-radio1:checked ~ .slide-1 p,
  .slide-radio1:checked ~ .slide-1 button,
  .slide-radio2:checked ~ .slide-2 h2,
  .slide-radio2:checked ~ .slide-2 p,
  .slide-radio2:checked ~ .slide-2 button,
  .slide-radio3:checked ~ .slide-3 h2,
  .slide-radio3:checked ~ .slide-3 button,
  .slide-radio3:checked ~ .slide-3 .items-pic10,
  .slide-radio4:checked ~ .slide-4 h2,
  .slide-radio1:checked ~ .slide-1 h4,
  .slide-radio2:checked ~ .slide-2 h4,
  .slide-radio3:checked ~ .slide-3 h4,
  .slide-radio3:checked ~ .slide-3 p,
  .slide-radio4:checked ~ .slide-4 h4,
  .slide-radio1:checked ~ .slide-1 > .img-div,
  .slide-radio2:checked ~ .slide-2 > .img-div,
  .slide-radio3:checked ~ .slide-3 > .img-div,
  .slide-radio4:checked ~ .slide-4 > .img-div,
  .slide-radio1:checked ~ .slide-1 > .chill,
  .slide-radio2:checked ~ .slide-2 > .chill,
  .slide-radio3:checked ~ .slide-3 > .chill,
  .slide-radio1:checked ~ .slide-1 > .tomato,
  .slide-radio2:checked ~ .slide-2 > .tomato,
  .slide-radio3:checked ~ .slide-3 > .tomato,
  .slide-radio1:checked ~ .slide-1 > .leaf-pic1,
  .slide-radio1:checked ~ .slide-1 > .leaf-pic2,
  .slide-radio1:checked ~ .slide-1 > .leaf-pic3,
  .slide-radio2:checked ~ .slide-2 > .leaf-pic1,
  .slide-radio2:checked ~ .slide-2 > .leaf-pic2,
  .slide-radio2:checked ~ .slide-2 > .leaf-pic3,
  .slide-radio3:checked ~ .slide-3 > .leaf-pic1,
  .slide-radio3:checked ~ .slide-3 > .leaf-pic2,
  .slide-radio3:checked ~ .slide-3 > .leaf-pic3{
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
  }
  .slide-radio1:checked ~ .slide-1 > .chill{
	 opacity: 1; 
  }
  .slide-radio2:checked ~ .slide-2 > .slide-up{
	opacity: 1;
	-webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
			animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;

			
  }


.img-ab-home{
	height: 380px;
    width: 70%;
    position: absolute;
    background: url(../src/images/About-Us-Image-1.jpg);
    background-size: cover;
    border-radius: 7%;
    bottom: 30px;
	left: 10px;
}
.comon-offer{
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius:0;
	position: relative;
	display: grid;
	align-content: center;
	background: #0d0d0e;
	text-align: left;
	
}
.comon-offer:after{
    position: absolute;
    left: 0;
    right: 0;
    width: 91%;
    height: 86%;
    display: inline-block;
    border: solid 1px #f3f1f1;
    content: "";
    margin: auto;
    top: 13px;
}
.big-div-offer .comon-offer:after{
	position: absolute;
    left: 0;
    right: 0;
    width: 95%;
    height: 86%;
    display: inline-block;
    border: solid 1px #f3f1f1;
    content: "";
    margin: auto;
    top: 13px;
}
.height-offer:after{
	position: absolute;
    left: 0;
    right: 0;
    width: 89%;
    height: 89%;
    display: inline-block;
    border: solid 1px #f3f1f1;
    content: "";
    margin: auto;
    top: 22px;
}
.comon-offer figure{
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 0;

}
.comon-offer figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	transform: scale(1);
	transition: all 0.5s;
}
.height-offer{
	height: 424px;
}
.height-offer figure{
	height: 424px;
}
.comon-offer:hover figure img{
	transform: scale(1.1);
	opacity: 0.2;
}
.comon-offer h5{
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	text-align:left;
	z-index: 1;
	top: 50%;
    text-shadow: -8px -4px 11px rgba(0,0,0,0.82);
    transform: translateY(-50%);
}
.comon-offer h5 span{
	font-weight: 700;
	font-size: 35px;
}
.offer-text-div{
	background: #d00035;
	color: #fff;
	padding: 10px;
	position: absolute;
	left: 10px;
	top:10px;
	border-radius: 5px;
	font-size: 14px;
}
.discover-div-sec{
	background: #efefec;
}
.discover-div-sec h6{
	color: #d00035;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
}
.comon-cate{
	position: relative;
}
.our-production-div{
	background: #000;
	background: url(../images/slideshowV1-bg1.jpg) center center;
	background-size: cover;

}
.comon-cate{
	background: #000;
	height: 240px;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}
.comon-cate figure{
	margin: auto;
	display: block;
	height: 240px;
	width: 100%;
	overflow: hidden;
	
}
.comon-cate figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	transform: scale(1);
	transition: all 0.5s;
}
.comon-cate:hover figure img{
	transform: scale(1.1);
	opacity: 0.5;
}

.comon-cate h5{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left:0;
	right: 0;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	text-shadow: #000 1px 1px 8px;
	text-align: center;
}
.slide-radio1,
.slide-radio2,
.slide-radio3{
	opacity: 0;
}
@media (min-width: 1600px){
	.banner-part{
		height: 800px;
	}
}
@media (min-width: 1366px){
	.banner-part{
		height: 770px;
	}
}

@media (max-width: 1300px){
	.banner-part{
		height:640px;
	}
}

.our-production-div .products-titel {
    font-weight: 600;
    margin-top: 6px !important;
	font-size: #fff;
}

.subpage-banner{
	height: 250px;
}
.subpage-banner h1{
	font-size: 35px;
}
.subpage-banner ul li{
	color: #fff;
	margin: 0 14px;
	position: relative;
}
.subpage-banner ul li:after{
	position: absolute;
    content: "\f105";
    right: -20px;
    font-family: 'FontAwesome';
}
.subpage-banner ul li:last-child:after{
	display: none;
}
.subpage-banner ul li a{
	color: #fff;
	text-decoration: none;
}


.about-offer-section h6, .about-poroduction-section h6, .about-sec-1 h6, .our-staff h6 {
    color: #d00035;
    font-family: Lobster Two,cursive;
    font-size: 25px;
}
.about-page .testimonal-sec{
    padding-top: 50px;
	padding-bottom: 125px;
}
.list-work ul .mixitup-control-active {
    background: #d00035;
    color: #fff;
}
.list-work ul .mixitup-control-active {
    background: #d00035;
    color: #fff;
}
.list-work ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
.list-work ul li {
    padding: 10px 25px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    background: #f3f3f3;
    border-radius: 30px;
    margin: 0 8px;
}
.shop-page .products-titel{
	color: #000;
}
.shop-page .old-pice{
    font-size: 16px;
    color: rgb(207 203 203);
    font-weight: 600;
}
.shop-page .price-text{
	color: #000;
	font-weight: 700;
}

.simple-pagination .prev.current, .simple-pagination .next.current {
    background: #a2be2d;
    position: inherit;
    height: 30px;
}
.simple-pagination .current {
    color: #FFF;
    background-color: #090909;
    border: none;
}
.simple-pagination li a, .simple-pagination li span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
}
.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    place-items: center;
}
.shop-page{
	padding-bottom: 175px;
	display: inline-block;
	width: 100%;
}
.sel-size .btn-group .btn {
    background: #fff;
    border-color: #fff!important;
    border-radius: 5px!important;
    color: #000!important;
    margin: 5px 10px;
	box-shadow: #dfdfdf 1px 1px 22px;
}
.sel-size .btn-check:checked+.btn-outline-primary, 
.sel-size .btn-outline-primary.active, 
.sel-size .btn-outline-primary.dropdown-toggle.show, 
.sel-size .btn-outline-primary:active {
    background: #d00035!important;
    color: #fff!important;
}
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0;
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    margin: 15px 0;
	box-shadow: #dfdfdf 1px 1px 22px;
}
.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 8px;
    cursor: pointer;
}
.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}
.menu-dl-right h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.share-links li a {
    margin: 0 10px;
    color: #d00035;
}
.comment-user-div .us-pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}
.user-dsl {
    width: 80%;
}
.user-dsl h6 span {
    font-size: 13px;
    color: #d00035;
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
.comment-user-div {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 20px;
    padding-top: 20px;
}
.rating.star:not(:checked) > label:hover, .rating.star:not(:checked) > label:hover ~ label {
    color: #d00035 !important;
    background-color: transparent !important;
    cursor: pointer;
}
fieldset.rating.star > label:before {
    margin-top: 0;
    padding: 0px;
    font-size: 31px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\2605";
    position: relative;
    top: -9px;
}
.rating > input {
    display: none;
}
.submit-review .form-control {
    border: none;
    background: #f3f3f3;
    height: 50px;
    margin-bottom: 15px;
}
.submit-review textarea {
    height: 150px !important;
    resize: none;
}
.consult-bn, .about-bn, .view-more, .submit-bn, .subcribe, .view-products, .ad-cart-bn, .sub-re, .edit-bn1, .checkout-bn, .form-wizard-next-btn, .form-wizard-previous-btn, .form-wizard-submit, .cart-drop-bn, .cp-bn, .expl-bn {
    background:#d00035;
    color: #fff !important;
    display: inline-block;
    margin: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 16px;
    margin-right: 8px;
    padding: 10px 20px;
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}
.sub-re {
    width: auto;
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
}
.thum-pic-slide {
    /* box-shadow: #dfdfdf 1px 1px 22px; */
    margin: 0 5px;
    background: #f5f2f2;
}
.products-details-sec h2{
	font-size: 35px;
}
.related-prodcus-slide .produc-div{
	background: #fff;
	border-radius: 8px;
	color: #000;
}
.products-details-sec{
	padding-bottom: 0;
}
.mian-img-show .mian-ppic{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.mian-img-show .mian-ppic img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.ceck-out-right-div {
    background: #fff;
    box-shadow: 0 1px 22px 0 rgb(0 0 0 / 9%);
    padding: 15px 20px;
    min-height: 270px;
}

.sub-pages h2 {
    font-size:30px;
    font-weight: 700;
    text-transform: capitalize;
}
.ceck-out-right-div .sub-pages h2 {
    font-size:30px;
    font-weight: 700;
    text-transform: capitalize;
}
.comon-order-items .products-cate {
    color: #d00035;
}

.sub-pages {
    background: #f7f7f7;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
}
.form-new > div {
    border-bottom: solid 1px #f7f7f7;
    padding: 15px 0;
}
.comon-order-items .items-details {
    margin-top: 10px;
    justify-content: space-between;
    /* border-bottom: solid 1px #e9e8e8; */
}
.pro-img figure {
    width: 80px;
    overflow: hidden;
    height: 80px;
    display: inline-block;
}
.pro-img figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cart-products-titel {
    width: 131px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #212529;
    text-decoration: none;
}
.items-details .form-select {
    font-size: 12px;
    border: none;
    background-color: #f7f7f7;
}
.items-details .quantity-control {
    background: #f7f7f7;
    padding: 4px 0;
	box-shadow: none;

}
.quantity-btn svg {
    width: 10px;
    height: 10px;
}
.items-price h2 {
    font-size: 25px;
    font-weight: 700;
    color: #d00035;
	margin-bottom: 0;
}
.comon-order-items .products-size{
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
}
.comon-order-items .products-cate {
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
}
.comon-order-items .cart-products-titel{
    margin-bottom: 0;
    display: inline-block;
    font-size: 19px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}
.oder-right-details {
    box-shadow: 0 1px 22px 0 rgb(0 0 0 / 9%);
    padding: 15px 20px;
    background: #fff;
}
.comon-order-items h2{
    line-height: 20px;
}
.price-am, .delivery-am, .discount-am {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    font-size: 15px;
}
.price-am span {
    font-weight: 700;
    font-size: 20px;
}
.delivery-am span {
    font-size: 15px;
    font-weight: 500;
    color: #d00035;
}
.new-input {
    padding: 12px 0 12px 5px;
    background-color: #f7f7f7;
    font-size: 12px;
    border: none;
}
.cp-bn {
    font-weight: 600;
    border-radius: 0;
    margin-top: 0;
    font-size: 13px;
}

.total-price p {
    text-transform: uppercase;
    font-weight: 600;
}
.total-price {
    color: #d00035;
    padding: 10px 0;
}
.check-out-page{
	padding-bottom: 175px;
	display: inline-block;
	width: 100%;
}
.blog-page{
	display: inline-block;
	width: 100%;
	padding-bottom: 175px;
}
.blog-page .comon-news-part {
    box-shadow: -1px 5px 20px 0px rgb(82 90 101 / 10%);
    width: 100%;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 19px;
    flex-wrap: wrap;
	height: auto;
}

.blog-page .dtails-idv-text {
    padding: 0 25px 25px 25px;
    width: 60%;
    position: relative;
}
.blog-page .comon-pic-news {
    height: 220px;
    position: relative;
    width: 40%;
}
.cm-sub{
	color: #d00035;
}
.blog-details-page {
	display: inline-block;
	width: 100%;
	padding-bottom: 175px;
}
.blog-post {
    border-bottom: solid 1px #f3f3f3;
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.blog-post .share-div {
    border-bottom: solid 1px #f3f3f3;
    margin-bottom: 15px;
}
.blog-post ul li {
    margin: 0 10px;
}
.blog-post figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-post h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.comment-sec-part h2, .leave-sec-part h2, .category-div h2, .recent-post-div h2, .tag-div h2 {
    font-size: 35px;
    font-weight: 700;
}
.comment-text span {
    font-size: 13px;
    font-weight: 600;
    color: #d00035;
}
.comon-com-div figure {
    width: 63px;
    height: 63px;
    overflow: hidden;
    border-radius: 50%;
}
.comon-com-div figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.comment-text {
    width: 89%;
}
.comon-com-div {
    border-bottom: solid 1px #f3f3f3;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.leave-sec-part {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    margin: 30px 0;
    padding-bottom: 20px;
}
.comment-sec-part h2, .leave-sec-part h2, .category-div h2, .recent-post-div h2, .tag-div h2 {
    font-size: 35px;
    font-weight: 700;
}
.leave-sec-part .form-group {
    margin-top: 20px;
}
.leave-sec-part .form-control, .conatct-form-div .form-control {
    border: none;
    background: #f1f1f1;
    height: 45px;
}
.leave-sec-part textarea, .conatct-form-div textarea {
    height: 100px !important;
    resize: none;
}
.leave-sec-part .subimt-comment, .subimt-message, .quick-contact .subimt-comment {
    background: #d00035;
    color: #fff;
    font-weight: 600;
}

.category-div, .job-ds-div {
    background: #f1f1f1;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.category-div ul li {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.category-div ul li a {
    text-decoration: none;
    color: #212529;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
    font-family: 'Red Hat Display', sans-serif;
}

.recent-post-div, .tag-div {
    background: #f1f1f1;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.recent-post-div-insiide a {
    text-decoration: none;
    border-bottom: solid 1px #fff;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.recent-post-div figure {
    width: 90px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    transform: scale(1);
}
.recent-post-div figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.recent-post-div-insiide a:hover figure img {
    transform: scale(1.1);
}
.recent-post-div h5 {
    width: 60%;
    color: #212529;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
}
.recent-post-div-insiide a:last-child {
    border: none;
    margin: 0;
}

.recent-post-div-insiide a:hover h5 {
    color: #d00035;
}

.ad-fm {
    background: #fff;
    box-shadow: 0 1px 22px 0 rgb(0 0 0 / 9%);
    padding: 15px 20px;
}

.form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
}
.comon-steps-div .form-select {
    background-color: #f1f1f1;
    padding: 15px;
    border: none;
}
.comon-steps-div label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}
.left-sec-d1 h4,
.left-sec-d2 h4{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.comon-cart-ps .close-crt:hover i{
    color: #d00035 !important;
}
.ad-fm .row > div .form-group {
    margin-bottom: 5px;
}
.form-wizard .form-group {
    position: relative;
    margin: 13px 0;
}
.checkout-table tr:last-child td {
    border: none;
}
.left-sec-d2 {
    margin-left: 15px;
}
.end-date, .cvv {
    display: flex;
    place-items: center;
}
.end-date .form-select {
    margin-right: 5px;
    font-size: 13px;
}
.cvv .form-control {
    width: 60%;
    margin-right: 8px;
}
.checkout-div{
	display: inline-block;
	width: 100%;
	padding-bottom: 175px;
}
.cm-text-n h6 {
	color: #d00035;
}
.cm-text-n ul li .icon-c {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    align-content: center;
    background: #d00035;
    color: #fff;
    justify-content: center;
    font-size: 18px;
}
.cm-text-n ul li {
    margin-bottom: 20px;
}
.text-c {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    font-family: 'Red Hat Display', sans-serif;
}
.text-c small {
    font-weight: 600 !important;
    font-size: 19px;
    color: #d00035;
}
.conatct-form-div .form-control {
    margin-bottom: 20px;
}
.subimt-message {
    width: 90px;
    text-transform: uppercase;
}
.conatct-form-div {
    display: inline-block;
    width: 100%;
    padding: 20px;
	background: #fff;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);

}
.faq-page-total h6 {
    color: #d00035;
    font-family: Lobster Two,cursive;
    font-size: 25px;
}
.faq-page-total{
	display: inline-block;
	width: 100%;
	padding-bottom: 175px;
}
.faq-page-total h2{
	font-size: 35px;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.faq-page-total .accordion-button:not(.collapsed) {
    background-color: #d00035!important;
    color: #fff!important;
}
.faq-page-total .accordion-button {
    font-weight: 700;
    padding: 10px 20px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.accordion-flush .accordion-collapse {
    border-width: 0;
}
.faq-page-total .accordion-item {
    margin-bottom: 25px;
}
.faq-page-total .accordion-button:after {
    align-content: center;
    background-image: none!important;
    content: "\f067"!important;
    display: grid;
    font-family: FontAwesome;
}

.faq-page-total .accordion-button:not(.collapsed):after {
    background-image: none!important;
    content: "\f068"!important;
    float: right;
    font-family: FontAwesome;
}

.left-sec-d1 {
    width: 23%;
}

.com-div-md {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.user-icon {
    font-size: 35px;
}
.login-div-modal h5 {
    font-weight: 700;
    font-size: 25px;
}
.login-div-modal .close {
    transform: none;
    position: absolute;
    right: 22px;
    top: 27px;
    border: none;
    background: none;
    font-size: 29px;
}
.login-modal-pn .form-control {
    border: none;
    font-size: 15px;
    background: #f3f3f3;
    height: 45px;
    margin-bottom: 20px;
}

.continue-bn {
    background:#d00035;
    color: #fff !important;
    font-weight: 700;
    width: 100%;
    display: inline-block;
    box-shadow: 0 20px 30px 0 rgb(172 172 172 / 40%);
}
.regster-bn {
    text-decoration: none;
    font-weight: 600;
    color: #d00035;
    cursor: pointer;
}
.regster-bn {
    text-decoration: none;
    font-weight: 600;
    color: #d00035;
    cursor: pointer;
}
.login-modal-pn {
    /* background: #f3f3f3; */
    padding: 10px 40px 30px 40px;
}
.login-div-modal .modal-content, .login-div-modal .modal-header {
    background: none;
    border: none;
}
.cm-select-login label {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    width: 92%;
}

.cart-drop-bn {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    display: table;
	font-size: 14px;
	padding:8px 15px !important;
}

button.close-menu {
    color: #fff;
    background: #d00035!important;
    border-radius: 5px;
    display: block;
    margin: 40px 0 0 0;
    width: 100px;
	border: none !important;
}
.mobile-menu-sec .active-m a {
    background: #d00035 !important;
    color: #fff;
}
.mobile-menu-sec li a, .mobile-menu-sec li .dropdown .btn {
    text-decoration: none;
    color: #212529;
    padding: 10px 5px 10px 10px;
    display: block;
    background: #f7f7f7;
    margin-bottom: 3px;
    width: 100%;
    text-align: left;
}
.mobile-mega-menu {
    border: none!important;
    position: relative!important;
    top: -30px!important;
}
.mega-btn {
    background: #f7f7f7!important;
    margin-bottom: 2px;
}
.thank-y-div{
    padding-bottom: 175px;
    display: inline-block;
    width: 100%;
}
.dropdown-menu1.show{
    width: 90%;
    left: 9%;
    margin-top: .125rem;
}
.close-bn-ps{
    transform: scale(1);
    transition: all 0.5s;
}
.close-bn-ps:hover{
    transition: all 0.5s;
    color: #d00035;
    transform: scale(1.1);
}
@media (max-width: 1180px){
    .img-div{
        width: 50%;
    }
    .comon-offer h5 span{
        font-size: 34px;
    }
    .blog-page .comon-pic-news{
        width: 30%;
    }
    .blog-page .dtails-idv-text{
        width: 70%;
    }
}
@media (max-width: 900px){
    .banner-part {
		background-size: cover;
		height:595px;
		margin-top: 85px;
	}
    .slider h2{
        font-size: 45px;
    }
    .sc-logo {
		display: block;
	}
	.mn-logo{
		display: none;
	}
    .spring-animation{
		margin: auto;
	}
	.slider {
		height: 80%;
		top:5%;
	}
    .slider-content{
		padding-left: 30px;
	}
    .subpage-banner{
        height: 250px !important;
    }
    .list-work ul li{
        margin-bottom: 10px;
    }
    .recent-post-div figure{
        width: 60px;
    }
    .sub-pages h2{
        font-size: 30px;
    }
    .img-sec-div-mn,
    .img-sec-div-mn .pro-img,
    .img-sec-div-mn .pro-img figure{
        height: auto;
    }
    .img-sec-div-mn .pro-img figure{
        text-align: center;
        display: table;
        margin: auto;
    }
    .comon-order-items .cart-products-titel,
    .comon-order-items .products-size,
    .comon-order-items .items-price
    {
        text-align: center;
    }

    .products-cate{
        text-align: center;
    }
    .items-details .quantity-control{
        justify-content: center;
        margin: 20px auto;
    }
    .comon-order-items .cart-products-titel{
        margin: auto;
        display: table;
    }
}
@media (max-width: 668px){

    .banner-part {
		background-size: cover;
		height: 955px;
		margin-top: 85px;
	}
	.sc-logo {
		display: block;
	}
	.mn-logo{
		display: none;
	}

    .slider h2{
		font-size: 35px;
	}
	.slider-content{
		padding-left: 30px;
	}
	.spring-animation{
		margin: auto;
	}
	.slider {
		height: 80%;
		top:5%;
	}
    h2{
        font-size: 40px;
    }
    .blog-page .comon-pic-news,
    .dtails-idv-text,
    .blog-page .dtails-idv-text{
        width: 100%;
    }
    .blog-page .dtails-idv-text{
        padding: 0;
    }
}
@media (max-width: 480px){
	.banner-part {
		background-size: cover;
		height: 755px;
		margin-top: 85px;
	}
	.sc-logo {
		display: block;
	}
	.mn-logo{
		display: none;
	}
	.slider h2{
		font-size: 35px;
	}
	.slider-content{
		padding-left: 30px;
	}
	.spring-animation{
		margin: auto;
	}
	.slider {
		height: 80%;
		top:5%;
	}
	h2{
		font-size:40px;
		line-height: 45px;
	}

    
}